<template>
  <div class="container">
    <p>{{ this.message }}</p>
    <button v-for="item in this.categories" 
    :key="item.id"
    :class="isSelected(item) ? 'button-select': button"
    @click="filterData(item)">
      {{ item }} ({{noteCount(item)}}) 
    </button>
  <transition-group name="list" tag="ul">
          <li v-for="item in this.filterNotes" :key="item.id">
        {{ item.content }}
      </li>
   </transition-group>
  </div>
</template>

<script>
import text from "../assets/note.txt";

export default {
  name: "Note",
  data: function () {
    return {
      message: "",
      notes: [],
      filterNotes: [],
      categories:new Set([]),
      currentCategory: "all"
    };
  },
  created() {
    this.intiData();
    console.log(this.notes.length);
  },
  methods: {
    intiData: function () {
      var crlf = process.env.VUE_APP_OS === "windows" ?  "\r\n": "\n" ;
      var origin = text + "";
      var lines = origin.split(`${crlf}`);
      
      this.categories.add("all")
      for (let i = 0; i < lines.length; i++) {
        var element = lines[i];
        if(element === ""){
          continue;
        }
        
        var contents = element.split("#");
        var content = contents[0];
        var tags =
          contents.length > 1 ? contents.slice(1) : [];
        var note = new Note(i, content, tags);
        this.notes.push(note);
        tags.forEach(tag => {
            this.categories.add(tag)
        })
      }
      this.filterNotes = this.notes;
     
      this.categories.add("other")
    },
    filterData: function (category) {
      if (category == "all") {
        this.filterNotes = this.notes;
      }else if(category == "other"){
        this.filterNotes = this.notes.filter( (x) => 
          x.tags.length == 0);
      }else {       
        this.filterNotes = this.notes.filter( (x) =>         
          x.tags.includes(category));
      }
      this.currentCategory = category
    }, 
    noteCount:function (category){
      if (category == "all") {
        return this.notes.length
      } else if(category == "other"){
        return this.notes.filter( (x) => 
          x.tags.length == 0).length;
      }else {
        return this.notes.filter( (x) =>           
          x.tags.includes(category)).length;
      }
    },
    isSelected:function (category){
      return category === this.currentCategory
    }
  }
};

class Note {
  constructor(id, content, tags) {
    this.id = id;
    this.content = content;
    this.tags = tags;
  }
}
</script>
<style scoped>
button {
  padding: 10px 20px;
  margin: 10px 20px;
  border: 1px solid #ddd;
  color: #333;
  background-color:#fff;
  border-radius: 4px;
  font-size: 14px;
  font-family: '微软雅黑',arail;
  cursor: pointer;
}
.button-select{
  color: green;
}
.container{
  margin: auto;
  width: 70%;
  border: 3px solid green;
  padding: 10px;
}
ul {
  position: relative;
  padding-top: 18px;
  width: 80%;
}

li {
  text-align: left;
  display: block;
  margin-top: 8px;
  padding: 8px 12px;
  width: 100%;
  background-color: #e5e5e5;
}

.list-enter-active,
.list-leave-active,
.list-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.list-leave-active {
  position: absolute;
}

.list-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}
</style>